# 파이썬 기초 문법
- 주석처리
- 여러 줄 주석처리 시,
  + 함수, 클래스 작성할 때 쓰인다. (예 - Docstring)

In [ ]:
# 이 코드는 무슨무슨 코드임 (주석)

'''
여러줄 주석 처리
'''

"""
여러줄 주석 처리
"""

print("Hello World")

Hello World

In [ ]:
1+1

2

## 변수의 종류 (Scala 자료형)
- 크게 4가지 존재 :  int, float, bool, None
- 스칼라의 의미 : 더 이상 나누어지지 않는 것 (가장 작은 단위)

### int형 예제

In [ ]:
temp_int = 1
print(temp_int)
print(type(temp_int))  #어떤 class 인지 알고싶을때

1
<class 'int'>

- 문자열

In [ ]:
temp_int = '1'
print(temp_int)
print(type(temp_int))

1
<class 'str'>

### float 형 예제
- 실수형

In [ ]:
num_float = 0.2
print(num_float)
print(type(num_float))

0.2
<class 'float'>

### Bool 형
- 참, 거짓

In [ ]:
temp_bool = True   #bool 은 첫글자 대문자
temp_bool = False
#temp_bool 을 여러 개 쓰면 제일 밑에 있는 코드가 실행
print(type(temp_bool))

<class 'bool'>

### None 자료형
- Null 을 나타내는 자료형
  + 데이터분석에서 가장 처리하기 까다로운 자료형

In [ ]:
temp_none = None
print(type(temp_none))

<class 'NoneType'>

## 사칙연산
- 정수형 사칙연산

In [ ]:
a = 6
b = 2

print(a + b) # 덧셈
print(a - b) # 뺄셈
print(a * b) # 곱셈
print(a / b) # 나누기 (무조건 실수형으로 변환)
print(a // b) # 몫
print(a ** b) # 제곱
print(a % b) # 나머지

8
4
12
3.0
3
36
0

### 실수형 사칙연산

In [ ]:
a = 6.0
b = 2.0

print(a + b) # 덧셈
print(a - b) # 뺄셈
print(a * b) # 곱셈
print(a / b) # 나누기 (무조건 실수형으로 변환)
print(a // b) # 몫
print(a ** b) # 제곱
print(a % b) # 나머지

8.0
4.0
12.0
3.0
3.0
36.0
0.0

## 논리형 연산자
- AND 조건, OR 조건이 있음

In [ ]:
print(True and True)
print(True and False)
print(False and True)
print(False and False)

True
False
False
False

In [ ]:
print(True or True)
print(True or False)
print(False or True)
print(False or False)

True
True
True
False

### 비교 연산자
- 비교 연산자는 부등호를 의미함
- 왼쪽이 기준 값

In [ ]:
print(4 > 3)
print(3 > 4)
print(3 >= 4)
print(3 <= 4)

True
False
False
True

## input()
- print() : 출력
- input() : 입력

In [ ]:
var = input("값을 입력해주세요!! ")
print(var)

var = int(var)
print(type(var))

값을 입력해주세요!! 5
5
<class 'int'>

In [ ]:
num1 = int(input("값을 입력해주세요!! "))
num2 = int(input("값을 입력해주세요!! "))

result = int(num1) + int(num2)
print(result)

값을 입력해주세요!! 10
값을 입력해주세요!! 20
30

## String
- 매우 중요함!!!!!!!!!!!!
-

### String 연산자

In [ ]:
str1 = "Hello "
str2 = "World"

print(str1 + str2)

Hello World

In [ ]:
str1 = "Hello "
str2 = "World"

result = str1 + str2
print(result)

Hello World

In [ ]:
str1 = "55"
str2 = "1000"
print(int(str1) + int(str2))

1055

- 곱셈 연산자 사용

In [ ]:
greeting = "Hello World "
print(greeting * 3)

Hello World Hello World Hello World

### Indexing
- 중요!!
- 0번째부터 시작

In [ ]:
greeting = "Hello World!"
print(greeting[-4])

r

### 슬라이싱
- 자름

In [ ]:
greeting = "Hello World!"
print(greeting[0:5]) # H e l l o 
                     # 0 1 2 3 4
print(greeting[:])
print(greeting[6:])
print(greeting[3:8])
print(greeting[5:-1])
print(greeting[0:9:2])

Hello
Hello World!
World!
lo Wo
 World
HloWr

In [ ]:
greeting = "Hello World!!!!!"
greeting[13]      # error - String index out of range : Hello World = 11글자인데
                                # 13을 입력할 경우 error 난다.
                                # 해결 : Hello World 의 글자수 늘리거나
                                # greeting[13]을 11 이하로 맞게 줄인다.

'!'

### 문자열의 함수들
- 공식문서!

In [ ]:
tmp_string = 'Java'

# 변수명 저장!
# 변수명 저장함과 동시에, 클래스로 바뀜
print(tmp_string.upper())
print(tmp_string.lower())

JAVA
java

![화면 캡처 2023-03-15 111628.png]()

- 참조 : https://docs.python.org/3/library/string.html

In [ ]:
tmp_string = "BMW-BENZ-TESLA-KIA"
print(tmp_string.split(sep = '-'))

['BMW', 'BENZ', 'TESLA', 'KIA']

## 리스트
- 자바의 배열

In [ ]:
a = []
a_func = list() # list() 함수로도 빈 리스트 생성 
b = [1]
c = ['Apple']
d = [1, 2, ['apple']]

print(a)
print(a_func)
print(b)
print(c)
print(d)

[]
[]
[1]
['Apple']
[1, 2, ['apple']]

In [ ]:
a = [5, 3, 1, 4, 6, 7]
print(a)

[5, 3, 1, 4, 6, 7]

In [ ]:
a[0:4]

[5, 3, 1, 4]

### 중첩리스트(Nested List)
- 리스트내의 또 다른 리스트

In [ ]:
a = [['apple', 'banana', 'cherry'], 1]
print(a)

[['apple', 'banana', 'cherry'], 1]

In [ ]:
# cherry 글자에서 알파벳 e 만 가져오기
temp = a[0]
temp[2]

'cherry'

In [ ]:
# cherry 글자에서 알파벳 e만 가져오기
temp = a[0]
temp2 = temp[2]
temp2[2]

'e'

In [ ]:
print(a[0][2][2])

e

### 리스트 연결 연산자
- 덧셈, 곱셈

In [1]:
a = ['alice', 'bob', 'cat']
b = ['apple', 'banana', 'cherry']

c = a + b
print(c)

['alice', 'bob', 'cat', 'apple', 'banana', 'cherry']

In [2]:
a = ['a', 'b', 'c']
b = a * 3
print(b)

['a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c']

In [3]:
c = a * 0
print(c)

[]

### 리스트 값 수정
- 참조 : https://docs.python.org/3/tutorial/datastructures.html

In [4]:
a = [1, 1, 1]
a[1] = "b" # 숫자, 문자, None 가능

print(a)

[1, 'b', 1]

### 리스트 값 추가하기
- append 메서드 사용 (기억)
- 반복문 사용 시, 매우 자주 활용 됨

- 참조 : https://python-reference.readthedocs.io/en/latest/docs/list/append.html

In [5]:
a = [100, 200, 300]

a.append(400)
a.append(500)
a.append(600)

print(a)

[100, 200, 300, 400]

In [6]:
a = [100, 200, 300]
b = [400, 500, 600]

a.append(b)

print(a)

[100, 200, 300, [400, 500, 600]]

### extend() 함수 사용
- 여러 개의 요소를 추가하고 싶다면 사용
- 참조 : https://python-reference.readthedocs.io/en/latest/docs/list/extend.html

In [7]:
a = [100, 200, 300]
b = [400, 500, 600]

a.extend(b)

print(a)

[100, 200, 300, 400, 500, 600]

### insert
- 특정한 위치에 값을 추가

In [8]:
a = [1, 1, 1, 1, 1, 1, 1]
a.insert(1, 100)

print(a)

[1, 100, 1, 1, 1, 1, 1, 1]

In [10]:
a = [1, 1, 1, 1, 1, 1, 1]
a1 = a.insert(1, 100)

print(a1)

None

### 리스트의 값을 삭제
- remove() 함수

In [12]:
a = [5, 4, 7, 2, 1]
a.remove(7) # 숫자는 인덱스 번호 아님, value 값
a

[5, 4, 2, 1]

- pop 함수

In [15]:
a = [5, 4, 7, 2, 1]
a2 = a.pop(4) # 제거한 값이 어떤 값인지를 저장해서 표시

print(a2)
print(a) # 값을 지우고 난 나머지들을 출력

1
[5, 4, 7, 2]

- 참조 : https://www.programiz.com/python-programming/methods/list/pop

## 그 외 유용한 메서드
- clear 함수

In [16]:
a = [0, 1, 2, 3]
print(a)

a.clear()
print(a)

[0, 1, 2, 3]
[]

In [18]:
a = [1, 4, 5, 2, 3]
a.sort()
print(a)

[1, 2, 3, 4, 5]

In [19]:
# 내림차순으로 정렬

a = [1, 4, 5, 2, 3]
a.sort(reverse = True)
print(a)

[5, 4, 3, 2, 1]

- 참조 : https://blockdmask.tistory.com/564